@font-face {
  font-family: "siteFont";
  src: url("../fonts/IRANSansWeb.woff");
}

 @font-face {
  font-family: "siteFont";
  src: url('../fonts/Vazirmatn-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "siteFont";
  src: url('../fonts/Vazirmatn-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "siteFont";
  src: url('../fonts/Vazirmatn-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "siteFont";
  src: url('../fonts/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "siteFont";
  src: url('../fonts/Vazirmatn-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "siteFont";
  src: url('../fonts/Vazirmatn-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "siteFont";
  src: url('../fonts/Vazirmatn-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "siteFont";
  src: url('../fonts/Vazirmatn-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "siteFont";
  src: url('../fonts/Vazirmatn-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-y-scroll;
  @apply overflow-x-hidden;
  direction: rtl;
  font-family: "siteFont", serif !important;
  @apply text-gray-800;
}
@layer components {
  .sun-menu-hover {
    hover: bg-gray-300;
  }
}
@layer utilities {
  .bg-custom-radial-end {
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 112, 40, 0.25) 0.01%,
      rgba(255, 112, 40, 0) 100%
    );
  }
  .bg-custom-radial-start {
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 112, 40, 0.15) 0.01%,
      rgba(255, 112, 40, 0) 100%
    );
  }
}
